.container {
    position: fixed;
    background: #1a2729;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0px -10px 20px rgb(0, 0, 0, 0.3);
}
.container::-webkit-scrollbar {
    background: transparent
}
.buttonCloseModal {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 50%;
    width: 80px;
    height: 35px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
    transform: translate(-50%, -10%);
    background: #324d52;
    border-radius: 0px 0px 20px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;  
}
.containerList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3%;
}
.card {
    padding: 10px;
    max-width: 300px;
    height: 450px;
    background: #1d2b2e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgCard {
    margin: 0 auto;
    opacity: 0.8;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.6);
    border-radius: 5px;
}
.titleCard {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
}
.descCard {
    max-width: 300px;
    margin-top: 10px;
}
.linkContainer {
    display: flex;
    gap: 0 10px;
    width: 120px;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
    align-items: center;
    border: 2px solid #36CED3;
    font-weight: bold;
    font-family: Noto Sans JP;
    cursor: pointer;
}
.linkContainer:hover {
    background:#36CED3;
    color:#1a2729;
}