.containerHome {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    place-items: center;
    margin: 15% auto;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.linha {
    width: 80%;
    border-top: none;
    border-bottom: 2px dashed #36CED3;
    border-left: none;
    border-right: none;
}
.intro {
    margin: 0;
    font-size: 24px;
    max-width: 750px;
}
.marcContainer {
    display: flex;
    align-items: flex-end;
    align-self: end;
    gap: 10px;
}
.marcOne {
    font-size: 95px;
    font-weight: bold;
    font-family: Caveat;
    margin: 0;
    text-align: end;
}
.marcTwo {
    font-size: 30px;
    font-weight: bold;
    font-family: Caveat;
    padding: 5px 0;
    margin-bottom: 15px;
    text-align: end;
}
.containerIlustration {
    background: red;
    display: flex;
    align-items: center;
}
.buttonWorks {
    background: transparent;
    border: 2px solid #36CED3;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    max-width: 200px;
}
.buttonWorks:hover {
    background: #36CED3;
    color: rgb(6, 69, 105);
    cursor: pointer;
}
.containerIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 85%;
    border-radius: 10px;
    background: #131E20;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.178);
}
.img {
    opacity: 0.8;
}
.containerTextsOne {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 10%;
    width: 100%;
}
.titleOne {
    font-size: 45px;
    font-family: Noto Sans JP;
    font-weight: bold;
    margin-bottom: 0;
}
.textsOne {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: right;
}
.descOne {
    font-size: 23px;
    text-align: right;
    font-family: Noto Sans JP;
    max-width: 600px;
    margin-top: 5px;
}
.containerTextsTwo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    width: 100%;
}
.titleTwo {
    font-size: 45px;
    font-family: Noto Sans JP;
    font-weight: bold;
    margin-bottom: 0;
}
.textsTwo {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
}
.descTwo {
    font-size: 23px;
    text-align: left;
    font-family: Noto Sans JP;
    margin-top: 5px;
    max-width: 600px;
}
.containerDev {
    background: #101819;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
.textsDevContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleDev {
    font-size: 40px;
    font-weight: bold;
    max-width: 600px;
    margin-bottom: 0;
}
.descDev {
    font-size: 20px;
    max-width: 900px;
}

@media (max-width: 1496px) {
    .img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
}
@media (max-width: 1400px) {
    .titleOne {
        font-size: 40px;
    }
    .descOne {
        font-size: 20px;
        max-width: 500px;
    }
    .titleTwo {
        font-size: 40px;
    }
    .descTwo {
        font-size: 20px;
        max-width: 500px;
    }
}
@media (max-width: 1060px) {
    .logo {
        order: 2;
        margin: 0 10px;
    }
    .imageHome {
        width: 250px;
        height: 250px;
    }
    .marcOne {
        font-size: 80px;
    }
    .marcTwo {
        font-size: 25px;
    }
    .intro {
        font-size: 20px;
    }
}
@media (max-width: 946px) {
    .img {
        display: none;
    }
    .titleDev {
        font-size: 30px;
    }
    .descDev {
        font-size: 16px;
    }
    .imgDev {
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 550px) {
    .logo {
        order: 2;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .imageHome {
        display: none;
    }
    .marcOne {
        font-size: 70px;
    }
    .marcTwo {
        font-size: 20px;
    }
    .intro {
        font-size: 16px;
    }
    .buttonWorks {
        font-size: 15px
    }
    .titleOne {
        font-size: 30px;
    }
    .descOne {
        font-size: 16px;
        max-width: 500px;
    }
    .titleTwo {
        font-size: 30px;
    }
    .descTwo {
        font-size: 16px;
        max-width: 500px;
    }
    .titleDev {
        font-size: 25px;
    }
    .descDev {
        font-size: 14px;
        max-width: 400px;
    }
}