.container {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131E20;
    border: none;
    height: 70px;
    padding: 10px 100px;
    width: 100%;
}
.containerNav {
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.textLogo {
    font-family: Caveat;
    font-size: 40px;
}
.nav {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.nav:hover {
    text-decoration: underline;
}